html
    head
        title Me
        include ./includes/head.jade
    body
        include ./includes/nav.jade

        main
            div.content
                div.pure-g
                    div.pure-u-1-4
                        h3
                            !{me.display_name}
                        img(src="#{me.images[0].url}")

                div.pure-g
                    each playlist in playlists
                        div.pure-u-1-3
                            h4(style="text-align: center")
                                !{playlist.name}
                            a(href="/playlist?user_id=#{playlist.owner.id}&playlist_id=#{playlist.id}")
                                - if (playlist.images[0]) {
                                    img(src="#{playlist.images[0].url}", width="60%", style="margin: auto; display: block")
                                - } else {
                                    img(src="#")
                                - }