html
    head
        title Me
        include ./includes/head.jade
    body
        include ./includes/nav.jade
        !{me.display_name}
        br
        img(src="#{me.images[0].url}")

        each playlist in playlists
            br
            !{playlist.name}
            br
            a(href="/playlist?user_id=#{playlist.owner.id}&playlist_id=#{playlist.id}")
                - if (playlist.images[0]) {
                    img(src="#{playlist.images[0].url}")
                - } else {
                    img(src="#")
                - }  