html
    head
        title Playlist
        include ./includes/head.jade
    body
        include ./includes/nav.jade

        div.pure-g
            div.pure-u-1-5
                - if (playlist.images[1]) {
                    img(src="#{playlist.images[1].url}")
                - } else if (playlist.images[0]) {
                    img(src="#{playlist.images[0].url}")
                - } else {
                    img(src="#")
                - }
            div.pure-u-4-5
                h3
                    !{playlist.name}
                p Danceability: %!{overallDance}
                p Popularity: !{overallPop}

        ul
            each track in playlist.tracks.items
                li
                    - if (track.track.album.images[2]) {
                        img(src="#{track.track.album.images[2].url}")
                    - }
                    !{track.track.name} - danceability: !{track.track.danceability} - popularity: !{track.track.popularity} - tempo:
                    !{track.track.tempo}