html
    head
        title Playlist
        include ./includes/head.jade
    body
        include ./includes/nav.jade

        !{playlist.name} - !{overall}
        br
        img(src="#{playlist.images[0].url}")

        ul
            each dance in danceability
                li
                    !{dance}
            each track in playlist.tracks.items
                li
                    - if (typeof track.track.album.images[2] !== 'undefined') {
                        img(src="#{track.track.album.images[2].url}")
                    - }
                    !{track.track.name}