html
    head
        title Playlist
        include ./includes/head.jade
    body
        include ./includes/nav.jade

        span
            !{playlist.name} - Danceability: %!{overallDance} - Popularity: !{overallPop}
        br
        - if (playlist.images[1]) {
            img(src="#{playlist.images[1].url}")
        - } else if (playlist.images[0]) {
            img(src="#{playlist.images[0].url}")
        - } else {
            img(src="#")
        - }

        ul
            each track in playlist.tracks.items
                li
                    - if (track.track.album.images[2]) {
                        img(src="#{track.track.album.images[2].url}")
                    - }
                    !{track.track.name} - danceability: !{track.track.danceability} - popularity: !{track.track.popularity} - tempo:
                    !{track.track.tempo}