html
    head
        title Playlist
        include ./includes/head.jade
    body
        include ./includes/nav.jade

        div.pure-g
            div.pure-u-1.pure-u-sm-3-5.pure-u-md-1-2
                - if (playlist.images[1]) {
                    img(src="#{playlist.images[1].url}")
                - } else if (playlist.images[0]) {
                    img(src="#{playlist.images[0].url}")
                - } else {
                    img(src="#")
                - }
            div.pure-u-1.pure-u-sm-2-5.pure-u-md-1-2
                h3 !{playlist.name}
                p By:&nbsp;
                    a(href="/other?user_id=#{playlist.owner.id}") !{playlist.owner.display_name}
                p Danceability: %!{overallDance}
                p Popularity: !{overallPop}

        div.pure-g
            each track in playlist.tracks.items
                div.pure-u-1.pure-u-sm-1-2.pure-u-lg-1-3.pure-u-xl-1-4
                    div.pure-u-1-4
                        - if (track.track.album.images[2]) {
                            img(src="#{track.track.album.images[2].url}")
                        - }
                    div.pure-u-3-4
                        h4 !{track.track.name}
                        p Danceability: !{track.track.danceability}
                        p Popularity: !{track.track.popularity}
                        p Tempo: !{track.track.tempo}