html
    head
        title Playlist
        include ./includes/head.jade
    body
        include ./includes/nav.jade

        !{playlist.name} - !{overallDance} - !{overallPop}
        br
        img(src="#{playlist.images[1].url}")

        ul
            each track in playlist.tracks.items
                li
                    - if (typeof track.track.album.images[2] !== 'undefined') {
                        img(src="#{track.track.album.images[2].url}")
                    - }
                    !{track.track.name} - !{track.track.danceability} - !{track.track.popularity}