html
    head
        title Song
        include ./includes/head.jade
    body
        include ./includes/nav.jade

        main
            div.pure-g
                div.pure-u-1.pure-u-sm-3-5.pure-u-md-1-2.pure-u-lg-1-3
                    img(src="#{song.album.images[1].url}")
                div.pure-u-1.pure-u-sm-2-5.pure-u-md-1-2.pure-u-lg-2-3
                    h1 !{song.name}
                    p Album: !{song.album.name}
                    p Artists:
                        each artist in song.artists
                            &nbsp;!{artist.name};
                    p Popularity: !{song.popularity}